@import url(http://fonts.googleapis.com/css?family=Montserrat);
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #F5F5F5;
}

html { 
  background: url(../res/bg/srtbg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2{
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	text-align: center;
}

#main {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(0,0,0,0.8);
	width: 350px;
	height: 300px;
	padding: 5px;
}

span {
	color: red;
}

input[type=text],input[type=password] {
width:95%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
}
input[type=submit] {
width:100%;
background-color:gray;
color:#fff;
border:2px solid #FFCB00;
padding:10px;
margin-top: 10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}