<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% block head %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %} - ARI Control</title>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
	<!--<script src="jquery-1.9.1.min.js"></script>-->
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/model.js') }}"></script>
	<script src="{{ url_for('static', filename='js/cmdmenu.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.tipsy.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
	<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.axislabels.js') }}"></script>
	<!--<link rel="stylesheet" type="text/css" href="css/test-div.css">-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/final.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tipsy.css') }}">
	
	<!-- FAVICON CONFIGURATION -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='css/favicon/apple-icon-57x57.png')}}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='css/favicon/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='css/favicon/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='css/favicon/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='css/favicon/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='css/favicon/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='css/favicon/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='css/favicon/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='css/favicon/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='css/favicon/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='css/favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='css/favicon/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='css/favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='css/favicon/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ url_for('static', filename='css/favicon/ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
</head>{% endblock %}

<body>

	<div id="header">
		<div id="logohead">
			<h1 id="link">ARI Control</h1>
			<hr>
			<h2>Web Interface</h2>
		</div>
	</div>
	{% block funcmenu %}{% endblock funcmenu %}
	

	<div id="maincontainer">
		{% block navmenu %}
		<div id="navmenu">
		<h2 style="text-align: center;">Modes</h2><hr>
				<a href="SD/SRT1"><img src="{{ url_for('static', filename='res/icons/single.gif') }}" class="menuitem"  id="singleimg1" title="Single Dish SRT1 Mode"/></a><hr>
				<a href="SD/SRT2"><img src="{{ url_for('static', filename='res/icons/single.gif') }}" class="menuitem" id="singleimg2" title="Single Dish SRT2 Mode"/></a><hr>
				<img src="{{ url_for('static', filename='res/icons/sum.gif') }}" class="menuitem" id="adder" title="Intensity Mode"/>
				<!--<a href="#"><img src="templates/res/icons/corr.gif" class="menuitem" id="corrimg"onclick="if(confirm('You are about to terminate your current mode, and enter to Correlator Mode. Are you sure?')) changeMode('corr')" title="Correlator Mode"/></a>-->
		<script type="text/javascript">
			$('.menuitem').tipsy({gravity: 'w', fade: true, delayOut: 100});
		</script>
		</div>
		{% endblock navmenu %}

		{% block welcome %}
		<div id="welcome">
			<h1>Welcome to ARI SRT Control</h1>
			<h3>Choose the observation mode</h3>
		</div>
		{% endblock %}

		{% block stuff %}{% endblock %}

		{% block status %}{% endblock %}

	</div>

	<div id="footer">
		ARI Control. Sebasthian Ogalde.
	</div>



</body>
</html>