{% extends "base.html" %}
{% block stuff %}
	<div id="stuff">
	<title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action="" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file" accept="text/plain" chars="40">
         <input type="submit" value="Upload"></div>
	</div>
{% endblock stuff %}
{% block welcome %}{% endblock welcome %}
{% block navmenu %}{% endblock navmenu %}